/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../sass/main.scss */
html {
  font-size: 62.5%;
}

/* line 41, ../sass/main.scss */
.wrapper {
  overflow: hidden;
}

/* line 45, ../sass/main.scss */
.content {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  height: 100%;
  /* background: rgba(50, 50, 50, 0.5); */
}

/* line 55, ../sass/main.scss */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #000000;
}

/* line 70, ../sass/main.scss */
.sneaky-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 200px;
  transition: top 0.7s, box-shadow 0.7s, background-color 0.7s;
}
/* line 82, ../sass/main.scss */
.sneaky-panel .sneaky-panel__cool-face {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #eeeeff url(../img/face.svg) no-repeat 0 3px;
  background-size: 70px;
}
/* line 91, ../sass/main.scss */
.sneaky-panel .sneaky-panel__links {
  padding: 25px 200px;
}
/* line 94, ../sass/main.scss */
.sneaky-panel .sneaky-panel__links a {
  padding-left: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #444444;
  transition: 0.5s;
}
/* line 106, ../sass/main.scss */
.sneaky-panel .sneaky-panel__links a:hover {
  color: #ff7400;
}

/* line 113, ../sass/main.scss */
.transparent-panel {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

/* line 118, ../sass/main.scss */
.solid-panel {
  background-color: white;
  box-shadow: 0 0 5px #555555;
}

/* line 123, ../sass/main.scss */
.top-back {
  position: fixed;
  z-index: 1;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background: url(../img/cloud2.svg) no-repeat 18% 60%, url(../img/cloud2.svg) no-repeat 87% 40%, #ddddFF;
  background-size: 17%;
}
/* line 135, ../sass/main.scss */
.top-back .hello-mate__title {
  display: flex;
  justify-content: center;
  padding-top: 40vh;
  font-family: "Neucha", cursive;
  font-size: 7rem;
  color: #ff7400;
  text-transform: uppercase;
}
/* line 145, ../sass/main.scss */
.top-back .hello-mate__cool-introduction {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #444444;
}
/* line 154, ../sass/main.scss */
.top-back .hello-mate__links {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
/* line 158, ../sass/main.scss */
.top-back .hello-mate__links .hello-social {
  padding: 5px;
  font-size: 2rem;
  color: #444444;
}
/* line 164, ../sass/main.scss */
.top-back .hello-mate__links .hello-social:hover {
  color: #ff7400;
}

/* line 171, ../sass/main.scss */
.front {
  position: relative;
  margin-top: 100vh;
  margin-bottom: 120px;
  min-height: 100vh;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 0 5px #aaaaff;
  overflow: hidden;
}
/* line 185, ../sass/main.scss */
.front .slider-item {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  transition: 0.3s;
}
/* line 192, ../sass/main.scss */
.front .slider-item .cool-front-title {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: "Neucha", cursive;
  font-size: 4.2rem;
  color: #ff7400;
  text-transform: uppercase;
}
/* line 202, ../sass/main.scss */
.front .slider-item .article-wrapper {
  width: 45%;
}
/* line 206, ../sass/main.scss */
.front .slider-item .im-cool,
.front .slider-item .cool-story {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
/* line 212, ../sass/main.scss */
.front .slider-item .im-cool__title,
.front .slider-item .cool-story__title {
  text-align: center;
  font-family: "Lora", serif;
  color: #444444;
  font-size: 3rem;
}
/* line 221, ../sass/main.scss */
.front .slider-item .im-cool__text,
.front .slider-item .cool-story__text {
  padding-top: 80px;
  padding-bottom: 160px;
  width: 90%;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  color: #444444;
  font-size: 2rem;
}
/* line 233, ../sass/main.scss */
.front .slider-item .im-cool__img,
.front .slider-item .cool-story__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
/* line 241, ../sass/main.scss */
.front .left-page {
  right: 0;
  left: -100%;
}
/* line 246, ../sass/main.scss */
.front .center-page {
  left: 0;
  right: 100%;
}
/* line 251, ../sass/main.scss */
.front .right-page {
  left: 100%;
  right: 200%;
}

/* line 258, ../sass/main.scss */
.bottom-back {
  position: fixed;
  bottom: 0;
  z-index: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  background: #ddddFF url(../img/grass.svg) repeat-x 0 bottom;
  background-size: 25%;
}
/* line 269, ../sass/main.scss */
.bottom-back .bye__links {
  display: flex;
  justify-content: center;
  padding: 40px 0 20px;
}
/* line 273, ../sass/main.scss */
.bottom-back .bye__links a {
  padding: 5px;
  font-size: 2rem;
  color: #444444;
}
/* line 279, ../sass/main.scss */
.bottom-back .bye__links a:hover {
  color: #ff7400;
}
/* line 285, ../sass/main.scss */
.bottom-back .copy-pls {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #444444;
}

@media screen and (max-width: 1400px) {
  /* line 298, ../sass/main.scss */
  .content {
    width: 1080px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 305, ../sass/main.scss */
  .content {
    width: 720px;
  }
}
@media screen and (max-width: 740px) {
  /* line 312, ../sass/main.scss */
  .content {
    width: 500px;
  }
}
@media screen and (max-width: 520px) {
  /* line 319, ../sass/main.scss */
  .content {
    width: 460px;
  }
}
@media screen and (max-width: 470px) {
  /* line 326, ../sass/main.scss */
  .content {
    width: 320px;
  }
}
