* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  overflow: hidden; }

.content {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  height: 100%;
  /* background: rgba(50, 50, 50, 0.5); */ }

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: "Neucha", cursive;
  color: #ff7400;
  background: linear-gradient(180deg, #ddddFF, white);
  transition: 1s; }
  .loader .L {
    animation: jump 2s infinite; }
  .loader .o {
    animation: jump 2s infinite 0.2s; }
  .loader .a {
    animation: jump 2s infinite 0.4s; }
  .loader .d {
    animation: jump 2s infinite 0.6s; }
  .loader .i {
    animation: jump 2s infinite 0.8s; }
  .loader .n {
    animation: jump 2s infinite 1s; }
  .loader .g {
    animation: jump 2s infinite 1.2s; }
  .loader .dot1 {
    animation: jump 2s infinite 1.4s; }
  .loader .dot2 {
    animation: jump 2s infinite 1.6s; }
  .loader .dot3 {
    animation: jump 2s infinite 1.8s; }

@keyframes jump {
  0,
  100% {
    font-size: 2rem; }
  50% {
    font-size: 6rem; } }

.sneaky-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 200px;
  transition: top 0.7s, box-shadow 0.7s, background-color 0.7s; }
  .sneaky-panel .sneaky-panel__cool-face {
    min-width: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eeeeff url(../img/face.svg) no-repeat 0 3px;
    background-size: 70px; }
  .sneaky-panel .sneaky-panel__links {
    padding: 25px 200px; }
    .sneaky-panel .sneaky-panel__links a {
      padding-left: 30px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      text-transform: capitalize;
      text-decoration: none;
      color: #1B6262;
      transition: 0.5s; }
      .sneaky-panel .sneaky-panel__links a:hover {
        color: #ff7400; }

.language {
  position: fixed;
  top: 45px;
  right: 0;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  height: 50px;
  z-index: 6;
  border-radius: 10px 0 0 10px;
  background: #ccc;
  box-shadow: 0 0 5px 1px #555;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #1B6262;
  transition: 0.5s;
  cursor: pointer; }
  .language:hover {
    color: #ff7400; }

.transparent-panel {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none; }

.solid-panel {
  background-color: white;
  box-shadow: 0 0 5px #555555; }

.top-back {
  position: fixed;
  z-index: 1;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background: url(../img/cloud2.svg) no-repeat 18% 60%, url(../img/cloud2.svg) no-repeat 87% 40%, #ddddFF;
  background-size: 17%; }
  .top-back .hello-mate__title {
    display: flex;
    justify-content: center;
    padding-top: 40vh;
    font-family: 'Marck Script', cursive;
    font-size: 10rem;
    color: #ff7400;
    /* text-transform: uppercase; */ }
  .top-back .hello-mate__my-name {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 4rem;
    font-family: "Lora", serif;
    color: #1B6262; }
  .top-back .hello-mate__cool-introduction {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 2.2rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #A3622C; }
  .top-back .hello-mate__links {
    display: flex;
    justify-content: center;
    padding-top: 30px; }
    .top-back .hello-mate__links .hello-social {
      padding: 5px;
      font-size: 2rem;
      color: #A3622C; }
      .top-back .hello-mate__links .hello-social:hover {
        color: #1B6262; }

.front {
  position: relative;
  margin-top: 100vh;
  margin-bottom: 120px;
  min-height: 100vh;
  padding-bottom: 120px;
  z-index: 3;
  background: #fff;
  box-shadow: 0 0 5px #aaaaff;
  overflow: hidden; }
  .front .slider-item {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    transition: 0.3s; }
    .front .slider-item .cool-front-title {
      display: flex;
      justify-content: center;
      padding: 50px 0 100px;
      font-family: "Neucha", cursive;
      font-size: 4.2rem;
      color: #ff7400;
      text-transform: uppercase; }
    .front .slider-item .article-wrapper {
      width: 45%; }
    .front .slider-item .cool-story {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      line-height: 1.3; }
    .front .slider-item .cool-story__title {
      text-align: center;
      font-family: "Lora", serif;
      color: #1B6262;
      font-size: 3rem; }
    .front .slider-item .cool-story__text {
      padding-top: 60px;
      padding-bottom: 160px;
      width: 90%;
      margin: 0 auto;
      font-family: "Source Sans Pro", sans-serif;
      color: #386B6B;
      font-size: 2rem;
      text-align: center; }
    .front .slider-item .cool-story__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%; }
      .front .slider-item .cool-story__img .info-wrapper {
        position: relative;
        display: flex;
        margin-top: -150px; }
        .front .slider-item .cool-story__img .info-wrapper .face {
          width: 150px;
          height: 150px;
          background: #eeeeff url(../img/face-over-table.svg) 50% 10px no-repeat;
          background-size: contain;
          border-radius: 50%; }
        .front .slider-item .cool-story__img .info-wrapper .laptop {
          position: relative;
          top: 50px;
          left: -60px;
          width: 120px;
          height: 120px;
          background: url(../img/pc-back.svg) 50% 10px no-repeat;
          background-size: contain; }
        .front .slider-item .cool-story__img .info-wrapper .book {
          position: relative;
          top: 110px;
          left: -100px;
          width: 120px;
          height: 120px;
          background: url(../img/book.svg) 50% 10px no-repeat;
          background-size: contain; }
      .front .slider-item .cool-story__img .idea-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: -160px;
        width: 300px;
        height: 300px;
        border-radius: 50%; }
        .front .slider-item .cool-story__img .idea-wrapper .idea {
          position: relative;
          width: 110px;
          height: 110px;
          background: #eeeeff;
          border-radius: 50%;
          overflow: hidden; }
          .front .slider-item .cool-story__img .idea-wrapper .idea .html,
          .front .slider-item .cool-story__img .idea-wrapper .idea .css,
          .front .slider-item .cool-story__img .idea-wrapper .idea .js,
          .front .slider-item .cool-story__img .idea-wrapper .idea .react,
          .front .slider-item .cool-story__img .idea-wrapper .idea .git,
          .front .slider-item .cool-story__img .idea-wrapper .idea .gulp {
            position: absolute;
            height: 80px;
            width: auto;
            animation: techMove 18s infinite; }
          .front .slider-item .cool-story__img .idea-wrapper .idea .html {
            top: 15px;
            left: 15px; }
          .front .slider-item .cool-story__img .idea-wrapper .idea .css {
            top: 15px;
            left: -110px;
            animation-delay: 3s; }
          .front .slider-item .cool-story__img .idea-wrapper .idea .js {
            top: -110px;
            left: -50px;
            animation-delay: 6s; }
          .front .slider-item .cool-story__img .idea-wrapper .idea .react {
            top: -110px;
            left: 15px;
            animation-delay: 9s; }
          .front .slider-item .cool-story__img .idea-wrapper .idea .git {
            top: -110px;
            left: 110px;
            animation-delay: 12s; }
          .front .slider-item .cool-story__img .idea-wrapper .idea .gulp {
            top: 15px;
            left: 110px;
            animation-delay: 15s; }
        .front .slider-item .cool-story__img .idea-wrapper .face {
          width: 150px;
          height: 150px;
          background: #eeeeff url(../img/face.svg) 50% 10px no-repeat;
          background-size: contain;
          border-radius: 50%; }

@keyframes techMove {
  0%,
  100% {
    top: 45px;
    left: -110px; }
  10% {
    top: 45px;
    left: -110px; }
  15% {
    top: 15px;
    left: 15px; }
  25% {
    top: 15px;
    left: 15px; }
  30% {
    top: 45px;
    left: 110px; }
  40% {
    top: 45px;
    left: 110px; }
  45% {
    top: -110px;
    left: 110px; }
  55% {
    top: -110px;
    left: 110px; }
  60% {
    top: -110px;
    left: 15px; }
  70% {
    top: -110px;
    left: 15px; }
  75% {
    top: -110px;
    left: -110px; }
  85% {
    top: -110px;
    left: -110px; } }
  .front .front__contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 120px;
    font-size: 2rem;
    color: #386B6B; }
    .front .front__contact-me .contact-me__name {
      padding-bottom: 40px;
      font-family: "Neucha", cursive;
      color: #ff7400;
      font-size: 4rem; }
    .front .front__contact-me .contact-me__im-one {
      padding-bottom: 40px;
      font-family: "Source Sans Pro", sans-serif;
      color: #A3622C;
      font-size: 3rem; }
    .front .front__contact-me .contact-me__text {
      line-height: 1.3;
      font-family: "Source Sans Pro", sans-serif; }
    .front .front__contact-me .msg-btn {
      width: 200px;
      padding: 20px;
      margin-top: 40px;
      border: none;
      border-radius: 3px;
      background: #ff7400;
      color: #ddddff;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 2px;
      font-family: "Neucha", cursive;
      cursor: pointer;
      transition: 0.3s; }
      .front .front__contact-me .msg-btn:hover {
        /* background: #ff8410;
        color: #1B6262; */
        box-shadow: 0 0 7px grey;
        transform: scale(1.05); }
      .front .front__contact-me .msg-btn:active {
        background: #d96000;
        color: #ddddff;
        box-shadow: 0 0 7px grey;
        transform: scale(0.95); }
      .front .front__contact-me .msg-btn:focus {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 19px; }
  .front .my-works__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .front .my-works__grid .my-works__grid__element {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 400px;
      margin-bottom: 80px;
      border-radius: 3px;
      background: linear-gradient(180deg, #f0f0f0, #fafafa); }
      .front .my-works__grid .my-works__grid__element .element__preview {
        width: 290px;
        height: 290px;
        margin-top: 5px;
        background: #e5e5e5; }
      .front .my-works__grid .my-works__grid__element .element__github {
        margin-bottom: 40px;
        color: #ff7400;
        text-decoration: none;
        font-size: 1.8rem;
        font-family: "Neucha", cursive;
        transition: 0.5s; }
        .front .my-works__grid .my-works__grid__element .element__github:hover {
          font-size: 2rem; }
  .front .left-page {
    right: 0;
    left: -100%; }
  .front .center-page {
    left: 0;
    right: 100%; }
  .front .right-page {
    left: 100%;
    right: 200%; }

.bottom-back {
  position: fixed;
  bottom: 0;
  z-index: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  background: #ddddFF url(../img/grass.svg) repeat-x 0 bottom;
  background-size: 25%; }
  .bottom-back .bye__links {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px; }
    .bottom-back .bye__links a {
      padding: 5px;
      font-size: 2rem;
      color: #1B6262; }
      .bottom-back .bye__links a:hover {
        color: #ff7400; }
  .bottom-back .copy-pls {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    color: #1B6262; }

@media screen and (max-width: 1400px) {
  .content {
    width: 1080px; } }

@media screen and (max-width: 1100px) {
  .content {
    width: 720px; }
  .front .cool-story {
    flex-direction: column;
    align-items: center; }
    .front .cool-story .article-wrapper {
      width: 80%; } }

@media screen and (max-width: 740px) {
  .content {
    width: 500px; } }

@media screen and (max-width: 520px) {
  .content {
    width: 460px; } }

@media screen and (max-width: 470px) {
  .content {
    width: 320px; } }
