/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$content-width: 1300px;
$min-width: 100%;
$max-width: 100%;
$width: 100%;

$accent-color: #3b5998;

@mixin setWidth($min-w, $max-w, $w) {
  min-width: $min-w;
  width: $w;
  max-width: $max-w;
}

@mixin flCenter() {
  display: flex;
  justify-content: center;
}

@mixin flSpBetween() {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  overflow: hidden;
}

.content {
  width: $content-width;
  margin: 0 auto;

  transition: 1s;

  /* background: rgba(50, 50, 50, 0.5); */
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  @include flCenter();
  align-items: center;

  color: #ffffff;
  background: #000000;
}

.sneaky-panel {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;

  @include flSpBetween();
  padding: 50px;

  background: #ffffff;
  box-shadow: 0 0 5px #555555;

  transition: 1s;
}

.top-back {
  position: fixed;
  z-index: 1;

  @include setWidth($min-width, $max-width, $width);
  min-height: 100vh;

  background: #8888ff;

  .hello-mate__title {
    @include flCenter();
    padding-top: 45vh;

    font-size: 54px;
    color: #444444;
    text-transform: uppercase;
  }

  .hello-mate__cool-introduction {
    @include flCenter();
    padding-top: 30px;
  }

  .hello-mate__links {
    @include flCenter();
    padding-top: 30px;
  }
}

.front {
  position: relative;
  z-index: 3;

  margin-top: 100vh;
  margin-bottom: 120px;
  min-height: 100vh;
  @include setWidth($min-width, $max-width, $width);

  background: #ffffff;

  .cool-front-title {
    @include flCenter();
    padding: 80px;

    font-size: 36px;
    color: #555555;
    text-transform: uppercase;
  }

  .article-wrapper {
    width: 45%;
  }

  .im-cool,
  .cool-story {
    @include flSpBetween();
    padding-top: 50px;
  }

  .im-cool__title,
  .cool-story__title {
    text-align: center;
  }
  
  .im-cool__text,
  .cool-story__text {
    padding-top: 80px;
    padding-bottom: 130px;
    width: 90%;
    margin: 0 auto;
  }

  .im-cool__img,
  .cool-story__img {
    @include flCenter();
    align-items: center;
    width: 45%;
  }

}

.bottom-back {
  position: fixed;
  bottom: 0;
  z-index: 0;

  @include setWidth($min-width, $max-width, $width);
  min-height: 100px;

  background: #8888ff;

  .bye__links {
    @include flCenter();

    padding: 40px 0 20px;
  }

  .copy-pls {
    @include flCenter();

    padding-bottom: 30px;
  }
}


@media screen and (max-width: 1400px) {
  $content-width: 1080px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 1100px) {
  $content-width: 720px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 740px) {
  $content-width: 500px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 520px) {
  $content-width: 460px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 470px) {
  $content-width: 320px;
  .content {
    width: $content-width;
  }
}