/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$content-width: 1300px;
$min-width: 100%;
$max-width: 100%;
$width: 100%;

$sans-serif-font: 'Source Sans Pro', sans-serif;
$serif-font: 'Lora', serif;
$cursive-font: 'Neucha', cursive;

$main-color: #444444;
$accent-color: #ff7400;

@mixin setWidth($min-w, $max-w, $w) {
  min-width: $min-w;
  width: $w;
  max-width: $max-w;
}

@mixin flCenter() {
  display: flex;
  justify-content: center;
}

@mixin flSpBetween() {
  display: flex;
  justify-content: space-between;
}

html {
  font-size: 62.5%;
}

.wrapper {
  overflow: hidden;
}

.content {
  width: $content-width;
  margin: 0 auto;

  transition: 1s;

  /* background: rgba(50, 50, 50, 0.5); */
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  @include flCenter();
  align-items: center;

  color: #ffffff;
  background: #000000;
}

.sneaky-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  @include flSpBetween();
  padding: 30px 0 30px 70px;

  background-color: rgba(255, 255, 255, 0.0);
  box-shadow: none;

  transition: 0.7s;
}

.sneaky-panel__cool-face {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  background: #ccccff url(../img/face.svg) no-repeat 0 3px;
  background-size: 70px;
}

.sneaky-panel__links {
  padding: 25px 50px;

  a {
    padding-left: 30px;

    font-family: $sans-serif-font;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: none;
    color: $main-color;

    transition: 0.5s;

    &:hover {
      color: $accent-color;
    }
  }
}

.top-back {
  position: fixed;
  z-index: 1;

  @include setWidth($min-width, $max-width, $width);
  min-height: 100vh;

  background: url(../img/cloud.svg) no-repeat 65% 20%,
              url(../img/cloud.svg) no-repeat 18% 55%,
              url(../img/cloud.svg) no-repeat 87% 70%,
              #bbbbff ;
  background-size: 17%;

  .hello-mate__title {
    @include flCenter();
    padding-top: 40vh;

    font-family: $cursive-font;
    font-size: 7rem;
    color: $accent-color;
    text-transform: uppercase;
  }

  .hello-mate__cool-introduction {
    @include flCenter();
    padding-top: 30px;
    
    font-size: 1.8rem;
    font-family: $sans-serif-font;
    color: $main-color;
  }

  .hello-mate__links {
    @include flCenter();
    padding-top: 30px;

    .hello-social {
      padding: 5px;

      font-size: 2rem;
      color: $main-color;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.front {
  position: relative;
  z-index: 3;

  margin-top: 100vh;
  margin-bottom: 120px;
  min-height: 100vh;
  @include setWidth($min-width, $max-width, $width);

  background: #ffffff;

  .cool-front-title {
    @include flCenter();
    padding: 80px;

    font-family: $cursive-font;
    font-size: 4.2rem;
    color: $accent-color;
    text-transform: uppercase;
  }

  .article-wrapper {
    width: 45%;
  }

  .im-cool,
  .cool-story {
    @include flSpBetween();
    padding-top: 50px;
  }

  .im-cool__title,
  .cool-story__title {
    text-align: center;

    font-family: $serif-font;
    color: $main-color;
    font-size: 3rem;
  }
  
  .im-cool__text,
  .cool-story__text {
    padding-top: 80px;
    padding-bottom: 160px;
    width: 90%;
    margin: 0 auto;

    font-family: $sans-serif-font;
    color: $main-color;
    font-size: 2rem;
  }

  .im-cool__img,
  .cool-story__img {
    @include flCenter();
    align-items: center;
    width: 45%;
  }

}

.bottom-back {
  position: fixed;
  bottom: 0;
  z-index: 0;

  @include setWidth($min-width, $max-width, $width);
  min-height: 100px;

  background: #bbbbff url(../img/grass.svg) repeat-x 0 bottom;
  background-size: 25%;

  .bye__links {
    @include flCenter();
    padding: 40px 0 20px;

    a {
      padding: 5px;

      font-size: 2rem;
      color: $main-color;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .copy-pls {
    @include flCenter();
    padding-bottom: 30px;

    font-family: $sans-serif-font;
    font-size: 1.5rem;
    color: $main-color;
  }
}


@media screen and (max-width: 1400px) {
  $content-width: 1080px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 1100px) {
  $content-width: 720px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 740px) {
  $content-width: 500px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 520px) {
  $content-width: 460px;
  .content {
    width: $content-width;
  }
}

@media screen and (max-width: 470px) {
  $content-width: 320px;
  .content {
    width: $content-width;
  }
}